<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ (title + " | " + metadata.title) or metadata.title }}</title>
  <meta name="description" content="{{ description or metadata.description }}">

  {# - Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
  <meta name="generator" content="{{ eleventy.generator }}">

  {#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ '/public/css/main.css' | url }}">
  <link rel="icon" type="image/x-icon" href="{{ '/public/favicon.ico' | url }}">
  <script src="{{ '/public/js/main.js' | url }}" defer></script>
</head>