<div
	class="container m-0 {{ "ase-container-width" if (title === "Advanced Search")}}">
	<nav>
		<a href="/" class="logo">Foolish <span style="color: var(--imperial-red)">& </span>Weak</a>
		<button
			type="button"
			id="hamburger-menu"
			aria-label="Open Navigation"
			aria-conrols="link-list"
			aria-expanded="false"
			class="hamburger-menu-button">
			&#9776;
		</button>
		<ul class="desktop-navigation-list">
			<li>
				<a
					class="{{ "active" if (title === "Home") }}"
					href="/">Posts</a>
			</li>
			<li>
				<a
					class="{{ "active" if (title === "About Us") }}"
					href="/about-us">About</a>
			</li>
			<li>
				<a
					class="{{ "active" if (title === "Advanced Search") }} button-link"
					href="/search">Advanced Search</a>
			</li>
		</ul>
		<div id="slide-nav" class="slide-out-content">
			<button
				type="button"
				id="close-btn"
				aria-label="Close Navigation"
				aria-expanded="false"
				class="close-btn">
				&times;
			</button>
			<ul aria-conrols="link-list">
				<li><a href="/">Posts</a></li>
				<li><a href="/about-us">About</a></li>
				<li><a href="/search">Advanced Search</a></li>
			</ul>
		</div>
	</nav>
</div>