:root {
	--shadow-color: #f0f0f0;
	--primary-color: salmon;
}

* {
	box-sizing: border-box;
	/* outline: 1px solid rgba(140,10,10,0.25); */
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', 'Open Sans', sans-serif;
	background-color: #f1f1f1;
}

nav {
	display: flex;
	background-color: white;
	box-shadow: 0px 4px 12px var(--shadow-color);
}

nav a {
	padding: 10px;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
}
nav ul a:visited {
	color: inherit;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	gap: 10px;
}
nav ul li {
	display: block;
}

main {
	position: relative;
	padding: 12px;
	display: flex;
	justify-content: center;
	gap: 12px;
}
main > div {
	border-radius: 12px;
	background-color: white;
	box-shadow: 0px 4px 12px var(--shadow-color);
	padding: 12px;
}

.search-bar {
	position: relative;
}
.search-bar input {
	margin-bottom: 12px;
	border-radius: 12px;
	padding: 12px;
	box-shadow: 0px 4px 12px var(--shadow-color);
	border: 1px solid lightgray;
	outline: none;
	width: 100%;
	position: relative;
	z-index: 10;
	padding-left: 28px;
}

.search-bar input:active {
	border: 1px solid var(--primary-color);
}

.search-bar:before {
	z-index: 11;
	content: "";
	position: absolute;
	height: 12px;
	width: 12px;
	top: 25%;
	left: 10px;
	display: inline-block;
	/* color inside the "stroke" field) */
	background: url("data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20width='12'%20height='12'%20%3e%3cg%20fill='none'%20stroke='salmon'%20stroke-width='1.5'%20%3e%3ccircle%20cx='4.8'%20cy='4.8'%20r='3.8'/%3e%3cpath%20d='M7.4%207.4l4%204'/%3e%3c/g%3e%3c/svg%3e") 50% no-repeat;
}

.container {
	width: 95%;
	max-width: 800px;
	background-color: white;
	border-radius: 12px;
	padding: 12px;
}

.item-wrapper {
	border-radius: 12px;
	background-color: white;
	box-shadow: 0px 4px 12px var(--shadow-color);
	padding: 12px;
	display: block;
	margin-bottom: 12px;
	cursor: pointer;
	border-left: 2px solid var(--primary-color);
	transition: box-shadow 150ms ease-in-out;
}
.item-wrapper:hover {
	box-shadow: 0px 4px 12px -4px lightgray;
}

.item-wrapper .title {
	font-weight: 700;
	font-size: 24px;
	margin: 0.5em 0;
}

.item-wrapper .tags {
	display: flex;
	gap: 8px;
}

.item-wrapper .tags span {
	background-color: lightgray;
	padding: 4px;
	padding-bottom: 2px;
	font-size: small;
	line-height: 1;
	border-radius: 2px;
}

.filter-wrapper {
	width: 260px;
}
