<!DOCTYPE html>
<html lang="{{ metadata.language }}">
{% include "headtag.njk" %}
<body>
	<header>
		{% include "navigation.njk" %}
	</header>
	<main aria-hidden="false">
	{{ content | safe }}
	</main>
	<footer>
		<div class="container">
			<p>
				Made by <a href="https://excitedfellas.com">Excited Fellas</a></div>
			</p>
	</footer>
</body>
</html>