---
layout: base
permalink: "posts/{{ title | slugify }}/index.html"
---
<div class="container post">
	<h1>{{ title }}</h1>
	<div class="categories">
		{% for category in categories %}
			<a href="#">{{ category }}</a>
		{% endfor %}
	</div>
	<hr>
	{{ content | safe }}
</div>
<script>
var refTagger = {
  settings: {
    bibleVersion: 'NASB95'
  }
}; 

(function(d, t) {
  var n=d.querySelector('[nonce]');
  refTagger.settings.nonce = n && (n.nonce||n.getAttribute('nonce'));
  var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
  g.src = 'https://api.reftagger.com/v2/RefTagger.js';
  g.nonce = refTagger.settings.nonce;
  s.parentNode.insertBefore(g, s);
}(document, 'script'));
</script>