:root {
	--black: #111;

	/* https://coolors.co/606c38-283618-fefae0-dda15e-bc6c25 */
	--dark-moss-green: #606c38ff;
	--pakistan-green: #283618ff;
	--cornsilk: #fefae0ff;
	--earth-yellow: #dda15eff;
	--tigers-eye: #bc6c25ff;
	--imperial-red: #e54b4bff;

	/* renamed the above */
	--green-light: var(--dark-moss-green);
	--green-dark: var(--pakistan-green);
	--light-shade: var(--cornsilk);
	--orange-light: var(--earth-yellow);
	--orange-dark: var(--tigers-eye);
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--lighter);
	color: var(--dark);
	font-family: 'Poppins', sans-serif;
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
input {
	font-family: inherit;
}
button {
	font-family: 'Poppins', sans-serif;
}
a {
	color: var(--orange-dark);
}
main, footer {
	display: flex;
	justify-content: center;
}
main {
	flex-grow: 1;
}
footer {
	justify-self: flex-end;
	text-align: center;
	bottom: 0;
	margin-top: 2rem;
}

.container {
	width: 95%;
	max-width: 780px;
}

/** NAVIGATION START */
header {
	margin: 1rem 0rem;
	position: sticky;
	top: 0;
	background-color: white;
	display: flex;
	justify-content: center;
	z-index: 1;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
nav a {
	text-decoration: none;
}
nav .logo {
	font-size: 1.25rem;
	display: block;
	font-weight: bold;
	color: var(--black);
	padding: 0;
}
nav ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	gap: 12px;
}
nav ul li {
	margin: 0;
	padding: 0;
}
nav a, nav button {
	display: block;
	text-decoration: none;
	padding: 0.5rem 1rem;
	color: var(--black);
	font-weight: 500;
	border-bottom: 2px solid transparent;
}
nav ul li a.active {
	border-bottom: 2px solid var(--black);
}
nav ul li a:hover {
	color: var(--orange-dark);
	border-bottom: 2px solid var(--orange-dark);
}
nav .button-link{
	background-color: var(--green-dark);
	color: white;
	font-weight: 600;
}
.hamburger-menu-button {
	display: none;
	border: 0;
	background-color: transparent;
	font-size: 1.5rem;
}
.slide-out-content {
	padding: 0px 1rem;
	position: fixed;
	top: 0;
	right: -100%;
	width: 220px;
	height: 100vh;
	background-color: white;
	box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.1);
	visibility: hidden;
	transition: right 250ms ease-in-out;
}
.slide-out-content button {
	font-size: 1.5rem;
	padding: 0.25rem;
	line-height: 1;
	border: 0;
	background-color: transparent;
	margin-left: auto;
	margin-right: 12px;
	margin-top: 1rem;
}
.slide-out-content ul {
	padding: 0.5rem 0rem;
	list-style: none;
	display: flex;
	flex-flow: column nowrap;
}
.slide-out-content.visible {
	visibility: initial;
}
.slide-out-content.open {
	right: 0px;
}
/** NAVIGATION END */

.categories a, .categories span {
	display: inline-block;
	padding: 0.25rem;
	font-size: 0.8em;
	text-decoration: none;
	background-color: rgba(0,0,0,0.1);
	border-radius: 2px;
	margin-right: 8px;
	margin-bottom: 4px;
	color: var(--black);
}

/** HOME PAGE */
.item-list {
	gap: 0.75rem;
	display: flex;
	flex-direction: column;
}
.title-and-search {
	display: flex;
	flex-direction:row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 0.75rem;
}
.title-and-search input {
	width: 100%;
	border: 4px solid var(--green-light);
	outline: 0;
	padding: 0.75rem;
	font-size: 1.25rem;
}
.item-wrapper {
	border-left: 4px solid var(--green-light);
	padding: 0.75rem;
	padding-top: 0.25rem;
	display: block;
	text-decoration: none;
	color: var(--black);
}
.item-wrapper .title {
	font-size: 2em;
	margin: 0.5rem 0;
	font-weight: 600;
}

.container.post img {
	max-width: 100%;
	max-height: 46rem;
}

.container.post h1,
.container.post h2,
.container.post h3,
.container.post h4 {
	position: relative;
}

.container .header-anchor {
	color: var(--orange-light);
	opacity: 0.5;
	padding-left: 0.25rem;
}

.container > *:hover > .header-anchor {
	opacity: 1;
}

.m-0 {
	margin: 0;
}
.color-green-light {
	color: var(--green-light);
}

/** Advanced Search START */
.ase-container-width {
	max-width: 980px;
	width: 100%;
	padding: 0px 24px;
}
.ase-container {
	display: flex;
	flex-direction: row;
	gap: 24px;
}
.ase-container > div > h2 {
	margin: 12px 0px;
	font-weight: 700;
}
.ase-container .filter-wrapper,
.ase-container .results-wrapper {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.ase-container .results-wrapper {
	flex: 1;
}
.ase-container .results-container {
	margin-top: 1rem;
}
.ase-container .filter-wrapper button#filter-collapse{
	border: 0;
	outline: 0;
	margin: 0;
	margin-left: 1rem;
	padding: 0;
	font-size: inherit;
	font-weight: 600;
	opacity: 0.6;
	color: var(--orange-dark);
	background-color: transparent;
}
.ase-container .filter-wrapper button#filter-collapse:hover{
	opacity: 1;
}
.ase-container .filter-wrapper .filter-group {
	margin-bottom: 12px;
}
.ase-container .filter-wrapper .filter-group .filter-header {
	font-weight: 500;
	margin-bottom: 10px;
}
.ase-container .filter-wrapper .filter-group .filter-header:before {
	content: "-";
	margin-right: 6px;
}
.ase-container .filter-wrapper .filter-group.closed .filter-header:before {
	content: "+";
	margin-right: 6px;
}
.ase-container .filter-wrapper .filter-group .filter-header .filter-header-title {
	cursor: pointer;
}
.ase-container .filter-wrapper .filter-group.closed .filter-item-wrapper {
	max-height: 0px;
	overflow: hidden;
}
.ase-container .filter-wrapper .filter-group .filter-item-wrapper {
	font-size: 0.875rem;
	padding-left: 12px;
}
.ase-container .filter-wrapper .filter-group .filter-item-wrapper .show-more-text {
	text-decoration: underline;
	color: var(--orange-dark);
	cursor: pointer;
	font-size: 14px;
}
.ase-container .filter-wrapper .filter-group .filter-header button {
	font-size: 0.75rem;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	color:#111;
	opacity: 0.6;
	background-color: transparent;
	cursor: pointer;
	margin-left: 0.75rem;
}
.ase-container .filter-wrapper .filter-group .filter-header button:hover {
	opacity: 1;
}
.ase-container .filter-item-wrapper {
	user-select: none;
}
.title-search {
	padding: 8px;
	font-size: 16px;
	outline: none;
	border: 4px solid var(--green-light);
}
.filter-item label {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.filter-item .fake-checkbox {
	width: 1rem;
	height: 1rem;
	border: 2px solid var(--orange-dark);
	display: inline-block;
	background-color: transparent;
	margin-right: 6px;
	margin-bottom: 2px;
}
.filter-item input[type="checkbox"]:checked + .fake-checkbox {
	background-color: var(--orange-light)
}
.filter-item input[type="checkbox"]:checked ~ .filter-item-text {
	font-weight: 500;
}
.filter-item input[type="checkbox"] {
	display: none;
}

a.result-item {
	color: inherit;
	padding: 0.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 0.75rem;
	box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.15);
	cursor: pointer;
	border-left: 4px solid var(--green-light);
	text-decoration: none;
}

.result-item:hover {
	border-left: 4px solid var(--orange-light);
}

.result-item .tags-list span {
	color: var(--black);
	opacity: 0.5;
	font-size: 1rem;
	margin-right: 0.5rem;
}

.result-item p.game-title {
	font-size: 2em;
	font-weight: 600;
	margin-top: 0.5rem;
}

.result-item .detail-list {
	flex-shrink: 0;
}
.result-item .detail-list .details-entry {
	display: flex;
	flex-direction: row;
	flex-wrap: none;
	justify-content: flex-end;
}
.result-item .detail-list p.details-entry span:first-child {
	margin-right: 8px;
}
.result-item .detail-list p.details-entry span + span {
	display: inline-block;
	width: 180px;
}

/* TODO: Style the text search field */
/** Advanced Search END */

@media screen and (max-width: 380px) {
	body {
		font-size: 14px;
	}
}
@media screen and (max-width: 720px) {
	.desktop-navigation-list {
		display: none;
	}
	.hamburger-menu-button {
		display: block;
	}
}

@media screen and (max-width: 720px) {
	.title-and-search div {
		width: 100%;
	}
}

@media (max-width: 780px) {
	.ase-container {
		flex-direction: column;
		gap: 6px;
	}
	.filter-wrapper {
		font-size: 16px;
	}
	a.result-item {
		font-size: 14px;
		flex-direction: column;
	}
	.result-item .detail-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 1em 0;
	}
	.result-item .game-title {
		margin: 0.5em 0;
	}
	.result-item .detail-list .details-entry {
		margin: 0;
	}
}