---
# Metadata comes from _data/metadata.js
permalink: /games.json
---
{
	"items": [
		{%- for post in collections.posts | reverse %}
		{%- set absolutePostUrl = post.url %}
		{
			"id": "{{ absolutePostUrl }}",
			"url": "{{ absolutePostUrl }}",
			"title": "{{ post.data.title }}",
			"categories": "{{ post.data.categories }}",
			"equipment": "{{ post.data.equipment }}",
			"age": "{{ post.data.age }}",
			"preparation": "{{ post.data.preparation }}"
		}
		{% if not loop.last %},{% endif %}
		{%- endfor %}
	]
}