---
title: "Advanced Search"
layout: "base"
permalink: "search"
---
{% macro resultItem(entry) %}
<a href="{{ entry.url }}" class="result-item">
	<div>
		<p class="game-title"> {{ entry.data.title }}</p>
		<div class="tags-list">
			{% for category in entry.data.categories %}
				<span class="tags-entry">#{{ category }}</span>
			{% endfor %}
		</div>
	</div>
	<div class="detail-list">
		{% if (entry.data.equipment != undefined) %}
		<p class="details-entry">
			<span class="details-icon details-icon-equipment">E:</span>
			<span class="details-data">{{ entry.data.equipment }}</span>
		</p>
		{% endif %}
		{% if (entry.data.age != undefined ) %}
		<p class="details-entry">
			<span class="details-icon details-icon-age">A:</span>
			<span class="details-data">{{ entry.data.age }}</span>
		</p>
		{% endif %}
		{% if (entry.data.preparation != undefined) %}
		<p class="details-entry">
			<span class="details-icon details-icon-preparation">P:</span>
			<span class="details-data">{{ entry.data.preparation }}</span>
		</p>
		{% endif %}
	</div>
</a>
{% endmacro %}
<div class="ase-container ase-container-width">
	<div class="filter-wrapper">
		<h2>Filters <button id="filter-collapse">[collapse]</button> </h2>
		<div class="filters-container">
			{# Because the filters area is actually processed dynamically, based on
			the content available, I will not be putting any of that pre-rendering
			stuff here, cause I'm too lazy to convert JavaScript to Nunjucks script #}
		</div>
	</div>
	<div class="results-wrapper">
		<h2>Results</h2>
		<input id="title-search" class="title-search" type="text" placeholder="Title search">
		<div id="results-container">
			{# The whole list of Games is being rendered here for SEO purposes, then
			gets overwritten by JS #}
			{% for entry in collections.posts %}
				{{ resultItem(entry) }}
			{% endfor %}
		</div>
	</div>
</div>
<script>
	const data = [
		{%- for post in collections.posts | reverse %}
		{%- set absolutePostUrl = post.url %}
		{
			"id": "{{ absolutePostUrl }}",
			"url": "{{ absolutePostUrl }}",
			"title": "{{ post.data.title }}",
			"categories": "{{ post.data.categories }}",
			"equipment": "{{ post.data.equipment }}",
			"age": "{{ post.data.age }}",
			"preparation": "{{ post.data.preparation }}"
		}
		{% if not loop.last %},{% endif %}
		{%- endfor %}
	];
</script>
<script src="{{ '/public/js/search.js' | url }}" defer></script>