---
title: "Home"
layout: "base"
---
{# <div class="filter-wrapper">
	<h2>Filters</h2>
	<div class="filter-section">
	</div>
</div> #}
<div class="container">
	<div class="title-and-search">
		<h1>Post List</h1>
		<div>
			<input type="text" placeholder="Search by title" id="title-search">
		</div>
	</div>
	<div class="item-list">
		{% for entry in collections.posts %}
			<a href="{{ entry.url }}" class="item-wrapper">
				<p class="title">{{ entry.data.title }}</p>
				{% if (entry.data.cost !== "NULL" and entry.data.cost !== 0) %}
				<p class="cost">{{ entry.data.cost }}</p>
				{% endif %}
				{% if (entry.data.categories.length > 0) %}
				<div class="categories">
					{% for category in entry.data.categories %}
						<span>{{ category}}</span>
					{% endfor %}
				</div>
				{% endif %}
			</a>
		{% endfor %}
	</div>
</div>
<script>
// who needs jQuery
function $(q){
	let queryReturn = document.querySelectorAll(q);
	return queryReturn.length > 1 ? queryReturn : queryReturn[0];
}

/** Title Searching here (for the Home page)
 * collect the link elements into a Map(title => DOMElement), then iterates
 * over the Map on every search and just hides the elements that don't match
 */
const titleToElement = new Map();
for (let el of $(".item-list").children) {
	titleToElement.set(el.children[0].textContent, el)
}
$("#title-search").addEventListener("input", e => {
	const val = e.target.value;
	const regexp = new RegExp(val, "i");
	titleToElement.forEach((element, title) => {
		if (val === "") {
			element.style.display = "block";
		} else {
			element.style.display = !regexp.test(title) ? "none" : "block";
		}
	});
});

</script>